{% extends 'store/base.html' %}

{% block content %}
<div class="container pt-3 min-vh-100" style="margin-left:10rem">
    <h4 style="margin:2rem 0; font-size:1.5rem;" >Sign in</h4>
    <hr class="hr" />
    <form method="POST" action="{% url 'login' %}" enctype="multipart/form-data" class="form-login">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-success" >Sign in</button>
        <p style="display: flex">Don't have a account ? <a href="{% url 'register' %}" style="margin-left:1rem; text-decoration:underline">Join now</a></p>
    </form>
</div>
{% endblock %}